NoThanksClient/NoThanks/Connected Services/NoThanksService/PlayerManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IUpdateProfile_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Logic" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayerManager_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GenerateCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateCode" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_GenerateCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SendValidationEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendValidationEmail" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SendValidationEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendValidationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_NewRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRoom" />
  </wsdl:message>
  <wsdl:message name="IGameService_NewRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_GenerateRoomCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRoomCode" />
  </wsdl:message>
  <wsdl:message name="IGameService_GenerateRoomCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRoomCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_CheckQuota_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckQuota" />
  </wsdl:message>
  <wsdl:message name="IGameService_CheckQuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckQuotaResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_RecoverRoomPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:RecoverRoomPlayers" />
  </wsdl:message>
  <wsdl:message name="IGameService_RecoverRoomPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecoverRoomPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IGameService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IGameService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_ExpelPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:ExpelPlayer" />
  </wsdl:message>
  <wsdl:message name="IGameService_ExpelPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExpelPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendWhisper_InputMessage">
    <wsdl:part name="parameters" element="tns:SendWhisper" />
  </wsdl:message>
  <wsdl:message name="IGameService_CreateDeck_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDeck" />
  </wsdl:message>
  <wsdl:message name="IGameService_TakeCard_InputMessage">
    <wsdl:part name="parameters" element="tns:TakeCard" />
  </wsdl:message>
  <wsdl:message name="IGameService_SkipPlayersTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:SkipPlayersTurn" />
  </wsdl:message>
  <wsdl:message name="IGameService_FinishGame_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_MessageCallBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MessageCallBack" />
  </wsdl:message>
  <wsdl:message name="IGameService_WhisperCallBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:WhisperCallBack" />
  </wsdl:message>
  <wsdl:message name="IGameService_StartGameRoom_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartGameRoom" />
  </wsdl:message>
  <wsdl:message name="IGameService_PlayerExpeled_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerExpeled" />
  </wsdl:message>
  <wsdl:message name="IGameService_SkipPlayersTurnCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SkipPlayersTurnCallback" />
  </wsdl:message>
  <wsdl:message name="IGameService_NextTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NextTurn" />
  </wsdl:message>
  <wsdl:message name="IGameService_UpdateDeck_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeck" />
  </wsdl:message>
  <wsdl:message name="IGameService_EndGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EndGame" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfile_SaveImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveImage" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfile_SaveImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveImageResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfile_GetGlobalPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalPlayers" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfile_GetGlobalPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfile_GetGlobalFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalFriends" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfile_GetGlobalFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfile_GetGlobalRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalRequest" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfile_GetGlobalRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfile_UpdateNewNickname_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNewNickname" />
  </wsdl:message>
  <wsdl:message name="IUpdateProfile_UpdateNewNickname_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNewNicknameResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlayerManager">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/Login" message="tns:IPlayerManager_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/LoginResponse" message="tns:IPlayerManager_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/Register" message="tns:IPlayerManager_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/RegisterResponse" message="tns:IPlayerManager_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/GenerateCode" message="tns:IPlayerManager_GenerateCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/GenerateCodeResponse" message="tns:IPlayerManager_GenerateCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendValidationEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/SendValidationEmail" message="tns:IPlayerManager_SendValidationEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/SendValidationEmailResponse" message="tns:IPlayerManager_SendValidationEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/UpdatePassword" message="tns:IPlayerManager_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/UpdatePasswordResponse" message="tns:IPlayerManager_UpdatePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="NewRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/NewRoom" message="tns:IGameService_NewRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/NewRoomResponse" message="tns:IGameService_NewRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateRoomCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/GenerateRoomCode" message="tns:IGameService_GenerateRoomCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/GenerateRoomCodeResponse" message="tns:IGameService_GenerateRoomCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckQuota">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/CheckQuota" message="tns:IGameService_CheckQuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/CheckQuotaResponse" message="tns:IGameService_CheckQuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecoverRoomPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/RecoverRoomPlayers" message="tns:IGameService_RecoverRoomPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/RecoverRoomPlayersResponse" message="tns:IGameService_RecoverRoomPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/StartGame" message="tns:IGameService_StartGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/Connect" message="tns:IGameService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ConnectResponse" message="tns:IGameService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/Disconnect" message="tns:IGameService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/DisconnectResponse" message="tns:IGameService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExpelPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/ExpelPlayer" message="tns:IGameService_ExpelPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ExpelPlayerResponse" message="tns:IGameService_ExpelPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendMessage" message="tns:IGameService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendWhisper">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendWhisper" message="tns:IGameService_SendWhisper_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDeck">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/CreateDeck" message="tns:IGameService_CreateDeck_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TakeCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/TakeCard" message="tns:IGameService_TakeCard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SkipPlayersTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SkipPlayersTurn" message="tns:IGameService_SkipPlayersTurn_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/FinishGame" message="tns:IGameService_FinishGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageCallBack">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/MessageCallBack" message="tns:IGameService_MessageCallBack_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhisperCallBack">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/WhisperCallBack" message="tns:IGameService_WhisperCallBack_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGameRoom">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/StartGameRoom" message="tns:IGameService_StartGameRoom_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerExpeled">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/PlayerExpeled" message="tns:IGameService_PlayerExpeled_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SkipPlayersTurnCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/SkipPlayersTurnCallback" message="tns:IGameService_SkipPlayersTurnCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NextTurn">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/NextTurn" message="tns:IGameService_NextTurn_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeck">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/UpdateDeck" message="tns:IGameService_UpdateDeck_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/EndGame" message="tns:IGameService_EndGame_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUpdateProfile">
    <wsdl:operation name="SaveImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateProfile/SaveImage" message="tns:IUpdateProfile_SaveImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateProfile/SaveImageResponse" message="tns:IUpdateProfile_SaveImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateProfile/GetGlobalPlayers" message="tns:IUpdateProfile_GetGlobalPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateProfile/GetGlobalPlayersResponse" message="tns:IUpdateProfile_GetGlobalPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateProfile/GetGlobalFriends" message="tns:IUpdateProfile_GetGlobalFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateProfile/GetGlobalFriendsResponse" message="tns:IUpdateProfile_GetGlobalFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateProfile/GetGlobalRequest" message="tns:IUpdateProfile_GetGlobalRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateProfile/GetGlobalRequestResponse" message="tns:IUpdateProfile_GetGlobalRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNewNickname">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateProfile/UpdateNewNickname" message="tns:IUpdateProfile_UpdateNewNickname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateProfile/UpdateNewNicknameResponse" message="tns:IUpdateProfile_UpdateNewNickname_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPlayerManager" type="tns:IPlayerManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateCode">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/GenerateCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendValidationEmail">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/SendValidationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/UpdatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGameService" type="tns:IGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="NewRoom">
      <soap12:operation soapAction="http://tempuri.org/IGameService/NewRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateRoomCode">
      <soap12:operation soapAction="http://tempuri.org/IGameService/GenerateRoomCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckQuota">
      <soap12:operation soapAction="http://tempuri.org/IGameService/CheckQuota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecoverRoomPlayers">
      <soap12:operation soapAction="http://tempuri.org/IGameService/RecoverRoomPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IGameService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IGameService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpelPlayer">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ExpelPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendWhisper">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendWhisper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateDeck">
      <soap12:operation soapAction="http://tempuri.org/IGameService/CreateDeck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TakeCard">
      <soap12:operation soapAction="http://tempuri.org/IGameService/TakeCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SkipPlayersTurn">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SkipPlayersTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FinishGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/FinishGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MessageCallBack">
      <soap12:operation soapAction="http://tempuri.org/IGameService/MessageCallBack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhisperCallBack">
      <soap12:operation soapAction="http://tempuri.org/IGameService/WhisperCallBack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGameRoom">
      <soap12:operation soapAction="http://tempuri.org/IGameService/StartGameRoom" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerExpeled">
      <soap12:operation soapAction="http://tempuri.org/IGameService/PlayerExpeled" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkipPlayersTurnCallback">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SkipPlayersTurnCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NextTurn">
      <soap12:operation soapAction="http://tempuri.org/IGameService/NextTurn" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeck">
      <soap12:operation soapAction="http://tempuri.org/IGameService/UpdateDeck" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/EndGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IUpdateProfile" type="tns:IUpdateProfile">
    <wsp:PolicyReference URI="#NetTcpBinding_IUpdateProfile_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SaveImage">
      <soap12:operation soapAction="http://tempuri.org/IUpdateProfile/SaveImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalPlayers">
      <soap12:operation soapAction="http://tempuri.org/IUpdateProfile/GetGlobalPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalFriends">
      <soap12:operation soapAction="http://tempuri.org/IUpdateProfile/GetGlobalFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalRequest">
      <soap12:operation soapAction="http://tempuri.org/IUpdateProfile/GetGlobalRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNewNickname">
      <soap12:operation soapAction="http://tempuri.org/IUpdateProfile/UpdateNewNickname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="NetTcpBinding_IPlayerManager" binding="tns:NetTcpBinding_IPlayerManager">
      <soap12:address location="net.tcp://localhost:8081/Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/Services</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGameService" binding="tns:NetTcpBinding_IGameService">
      <soap12:address location="net.tcp://localhost:8081/Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/Services</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IUpdateProfile" binding="tns:NetTcpBinding_IUpdateProfile">
      <soap12:address location="net.tcp://localhost:8081/Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/Services</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>